*{
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 微软雅黑;
}

/*hearder start*/
.header {
    height: 90px;
}

.main {
    height: 90px;
    width: 1003px;
    margin: 0 auto;
}

.logo {
    float: left;
    padding-top: 8px;
    width: 220px;
    height: 59px;
}

.nav {
    width: 600px;
    height: 90px;
    margin-left: 458px;
}

.nav li {
    list-style: none;
    height: 90px;
    float: left;
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 90px;
    font-size: 18px;
    color: #000;
}

.nav a:hover {
    color: #1bc0c6;
}

.subnav {
    position: absolute;
    width: 575px;
/*    top: 63px;*/
    display: none;
    background-color: #fff;
    height: 120px;
}

.subnav li {
    float: left;
    margin-right: 56px;
}

.subnav li:first-child {
    margin-left: 66px;
}

.nav li:hover .subnav {
    display: block;
}
/*header end*/
/*banner start*/
.banner {
    height: auto;
    width: 100%
}
/*banner end*/
/*footer start*/
.footer {
    height: 120px;
    width: 1003px;
    margin: 0 auto;
    padding-top: 34px;
}

.foot_left {
    float: left;
}

.foot_right {
    float: right;
    width: 242px;
    float: right;
}

.foot_nav {
    list-style: none;
    float: left;
    width: 530px;
}

.foot_nav li {
    display: block;
    float: left;
    margin-right: 13px;
    border-right: 1px #333 solid;
    padding-right: 13px;
}

.foot_nav li:last-child {
    border-right: none;
}

.foot_nav a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.copyright {
    font-size: 14px;
    color: #747474;
    float: none;
}

.foot_right ul {
    float: left;
    margin-right: 12px;
    list-style: none;
    margin-top: 14px;
}

.foot_right li {
    display: block;
    float: left;
    margin-right: 12px;
}


.foot_right li:last-child {
    margin-top: 10px;
}

.foot_right img {
    margin-right: 3px;
}

.foot_right a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    float: left;
}

.code {
    float: right;
    width: 68px;
    height: 69px;
    margin-top: -70px;
}


/*footer end*/
