*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 微软雅黑；
}

/*hearder start*/
.header {
    height: 110px;
}

.main {
    height: 110px;
    width: 1003px;
    margin: 0 auto;
}

.logo {
    float: left;
    line-height: 110px;
/*    padding-top: 19px;*/
}

.nav {
    width: 542px;
    height: 110px;
    float: right;
    margin-left: 238px;
}

.nav li {
    display: block;
    height: 110px;
    float: left;
}

.nav a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 110px;
    width: 100px;
    height: 110px;
    font-size: 20px;
    color: #000;
}
/*header end*/
/*banner start*/
.banner {
    height:400px;
}
/*banner end*/
/*footer start*/
.footer {
    height: 130px;
    background: yellow;
    width: 1008px;
    margin: 0 auto;
}

.foot_left {
    float: left;
}

.foot_right {
    float: right;
}

/*footer end*/
