* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: å¾®è½¯é›…é»‘;
}
/*hearder start*/

.header {
    height: 90px;
}

.nav-content {
    height: 90px;
    width: 1003px;
    margin: 0 auto;
}

.logo {
    float: left;
    padding-top: 8px;
    width: 220px;
    height: 59px;
}

.nav {
    width: 600px;
    height: 90px;
    margin-left: 458px;
}

.nav li {
    list-style: none;
    height: 90px;
    float: left;
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    margin-top: 36px;
    padding-bottom: 36px;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    color: #000;
}

.nav a:hover {
    color: #1bc0c6;
}

.subnav {
    position: absolute;
    /*    top: 63px;*/

    display: none;
    margin-left: -200px;
    height: 320px;
    width: 650px;
    z-index: 1;
    border: 1px solid #d1d1d1;
    background-color: #fff;
}

.icon-subnav {
    position: absolute;
    top: -25px;
    left: 210px;
}

.subnav ul {
    border-right: 1px solid #d1d1d1;
    width: 150px;
    height: 280px
}

.subnav li {
    padding: 0;
    margin: 0;
    float: none;
    height: auto;
    width: 150px;
}

.subnav ul a {
    border: none!important;
    display: block;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
}

.subnav ul a:hover {
    background: green;
    color: #ffffff
}

.subnav li img {
    display: none;
    position: absolute;
    left: 170px;
    top: 0;
}

.subnav li:first-child img {
    display: block;
}

.nav li:hover .subnav {
    display: block;
}

.subnav li:hover img {
    display: block;
}
/*header end*/
/*banner start*/

.banner {
    width: 100% !important;
    position: relative;
    overflow: hidden;
}

.banner ul li {
    float: left;
    list-style: none;
}

.banner ul li img {
    width: 100%;
    height: auto;
}

.banner-ex {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.banner-ex ul li img {
    width: 100%;
    height: auto;
}

.return-button {
    background-color: #19b5bb;
    border: 1px #19b5bb solid;
    border-radius: 12px;
    width: 240px;
    height: 56px;
    margin: 0 auto;
}

.return-button a {
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    text-align: center;
    line-height: 56px;
    display: block;
}
/*banner end*/
/*footer start*/

.footer {
    height: 120px;
    margin: 0 auto;
    padding-top: 34px;
}

.footer {
    width: 100%
}

.footer {
    width: 1000px;
    margin: 0 auto
}

.foot_left {
    float: left;
}

.foot_right {
    float: right;
    width: 242px;
    float: right;
}

.foot_nav {
    list-style: none;
    float: left;
    width: 530px;
}

.foot_nav li {
    display: block;
    float: left;
    margin-right: 13px;
    border-right: 1px #333 solid;
    padding-right: 13px;
}

.foot_nav li:last-child {
    border-right: none;
}

.foot_nav a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.copyright {
    font-size: 14px;
    color: #747474;
    float: none;
}

.foot_right ul {
    float: left;
    margin-right: 12px;
    list-style: none;
    margin-top: 14px;
}

.foot_right li {
    display: block;
    float: left;
    margin-right: 12px;
}

.foot_right li:last-child {
    margin-top: 10px;
}

.foot_right img {
    margin-right: 3px;
}

.foot_right a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    float: left;
}

.code {
    float: right;
    width: 68px;
    height: 69px;
    margin-top: -70px;
}
/*footer end*/
/*privacy-page start*/

.tab-container {
    width: 1003px;
    margin: 0 auto;
    margin-top: 55px;
}

.nav-tabs {
    list-style: none;
    height: 35px;
    margin: 0 auto;
}

.nav-tabs li {
    height: 35px;
    width: 135px;
    background-color: #cacaca;
    margin-right: 20px;
    float: left;
}

.nav-tabs li:hover {
    background-color: #1bc0c6;
}

.nav-tabs a:visited {
    background-color: red;
}

.nav-tabs a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    display: block;
    color: #fff;
}

.active-tab-content {
    display: block;
}

#front {
    width: 1003px;
    height: auto;
    margin-top: 50px;
    font-size: 15px;
    color: #666;
    line-height: 24px;
    text-align: justify;
}

#tradition {
    width: 1003px;
    height: auto;
    margin-top: 50px;
    font-size: 15px;
    color: #666;
    line-height: 24px;
    text-align: justify;
}

#new {
    width: 1003px;
    height: auto;
    margin-top: 50px;
    font-size: 15px;
    color: #666;
    line-height: 24px;
    text-align: justify;
}
/*privacy-page end*/
/*udisk-32start*/
/*udisk-32 banner start*/

.udisk-banner {
    height: 490px;
    background-color: #e6f2f2;
}

.udisk-32 {
    width: 1003px;
    margin: 0 auto;
    height: 490px;
}

.udisk-right {
    float: right;
    width: 544px;
    margin-top: -290px;
}

.udisk-left {
    width: 500px;
    padding-top: 50px;
}

.rongliang li {
    float: left;
    width: 112px;
    height: 42px;
    border: 2px #fff solid;
    margin-right: 20px;
    margin-top: 20px;
}

.color li {
    float: left;
    width: 112px;
    height: 42px;
    border: 2px #fff solid;
    margin-right: 20px;
    margin-top: 20px;
}

.udisk-right ul {
    list-style: none;
}

.udisk-right a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    line-height: 42px;
    display: block;
}
/*udisk-32 banner end*/
/*udisk-32 nav start*/

.tab-container1 {
    width: 1003px;
    margin: 0 auto;
    margin-top: 55px;
}

.nav-tabs1 {
    list-style: none;
    height: 35px;
    margin: 0 auto;
    border-bottom: 1px #ccc solid;
}

.nav-tabs1 li {
    /*    height: 35px;*/

    margin-right: 80px;
    float: left;
}

.nav-tabs1 a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    display: block;
    color: #333;
}
/*äº§å“æ¦‚è¿°å¼€å§‹*/

#product {
    text-align: center;
    margin-top: 50px;
    line-height: 30px;
}

#product h1 {
    margin-top: 30px;
    color: #19b5bb;
    margin-bottom: 20px;
    font-weight: normal;
}

#product h3 {
    margin-bottom: 20px;
    font-weight: normal;
}

#product p {
    color: #999;
}

#product img {
    margin: 0 auto;
}

.udisk-image {
    width: 1003px;
    border-bottom: 1px #ccc solid;
    margin-top: 10px;
}

.udisk-image:last-child {
    border-bottom: none;
    margin-bottom: 70px;
}
/*äº§å“æ¦‚è¿°ç»“æŸ*/
/*ä¸‹è½½å¼€å§‹*/

#download ul {
    list-style: none;
    margin-bottom: 70px;
}

#download li {
    margin-top: 10px;
}

#download a {
    color: blue;
    font-size: 14px;
}
/*ä¸‹è½½ç»“æŸ*/
/*äº§å“å›¾ç‰‡å¼€å§‹*/

.product-pic li {
    width: 500px;
    height: 500px;
    background-color: #cccccc;
    margin-top: 30px;
}

.product-pic ul {
    list-style: none;
}
/*äº§å“å›¾ç‰‡ç»“æŸ*/
/*udisk-32 nav end*/
/*udisk-32 end*/
